<%- include('partials/site-header') -%>


  <%- include('partials/site-menu') -%>
    <!-- contact -->
    <div class="contact">
      <div class="container">
        <div class="row">
          <div class="col-md-12 ">
            <div class="titlepage text_align_center">
              <h2>Requste A Call Back</h2>
            </div>
          </div>
          <div class="col-md-8 offset-md-2">
            <form id="request" class="main_form" action="/contact" method="post">
              <div class="row">
                <div class="col-md-12">
                  <div id="notify" class="alert" style="display: none;"></div>
                </div>
                <div class="col-md-12">
                  <input class="form_control" placeholder="Your name" type="text" name="name">
                </div>
                <div class="col-md-12">
                  <input class="form_control" placeholder="Email" type="email" name="email">
                </div>
                <div class="col-md-12">
                  <input class="form_cont" placeholder="Message" type="text" name="message">
                </div>
                <div class="col-md-12">
                  <div class="group_form">
                    <button class="send_btn" type="submit">Send</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- end contact -->
    <script>
      const form = document.getElementById('request');
      const notify = document.getElementById('notify');

      form.addEventListener('submit', async e => {
        e.preventDefault();

        const email = form.email.value
        const name = form.name.value
        const message = form.message.value


        try {
          const res = await fetch('/contact', {
            method: "POST",
            body: JSON.stringify({ email, message, name }),
            headers: { "Content-Type": "application/json" }
          })

          const data = await res.json();

          if (data.succeed) {
            notify.style.display = 'block';
            notify.classList.add('alert-success');
            notify.textContent = 'Başarılı';

            setTimeout(() => {
              notify.style.display = 'none';
            }, 5000)
          }
          else{
            notify.style.display = 'block';
            notify.classList.add('alert-danger');
            notify.textContent = 'Gönderilemedi';
            setTimeout(() => {
              notify.style.display = 'none';
            }, 5000)
          }
          form.email.value = ""
          form.name.value = ""
          form.message.value = ""

        } catch (err) {
          console.log("ERR::", err)
        }
      })
    </script>

    <%- include('partials/site-footer.ejs') -%>